Form group demo
<div class="two-col">
    <div class="col form-left">
        <form [formGroup]="formGroupDemo">
            <label>email:<input type="email" formControlName="email" /></label>
            <label>password:<input type="password" formControlName="password" /></label>
            <div class="form-actions">
                <button type="submit" [disabled]="formGroupDemo.invalid">Submit</button>
                <button type="button" class="btn-reset" (click)="formGroupDemo.reset()">Reset</button>
            </div>
            <div>
                <p>{{ formGroupDemo.value | json }}</p>
            </div>
        </form>
    </div>
    <div class="col code-right">
        <pre><code [innerText]="codeGroup"></code></pre>
    </div>
</div>

Form Builder demo
<div class="two-col">
    <div class="col form-left">
        <form [formGroup]="formBuilderDemo">
            <label>email:<input type="email" formControlName="email" /></label>
            <label>password:<input type="password" formControlName="password" /></label>
            <div class="form-actions">
                <button type="submit" [disabled]="formBuilderDemo.invalid">Submit</button>
                <button type="button" class="btn-reset" (click)="formBuilderDemo.reset()">Reset</button>
            </div>
            <div>
                <p>{{ formBuilderDemo.value | json }}</p>
            </div>
        </form>
    </div>
    <div class="col code-right">
        <pre><code [innerText]="codeBuilder"></code></pre>
    </div>
</div>